/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo general */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1f3c88, #39a0ed);
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor principal */
.container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Títulos */
h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Botones */
button {
  width: 100%;
  padding: 10px;
  background: #1f3c88;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #162d63;
}

/* Lista */
.task {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Texto completado */
.completed {
  text-decoration: line-through;
  color: gray;
}

/* Links */
a {
  text-decoration: none;
  color: #1f3c88;
}

/* React Calendar Integrations */
.highlight-day {
  background-color: #39a0ed !important;
  color: white !important;
  border-radius: 5px;
}

/* Días elegidos al crear una tarea (puede combinarse con highlight-day) */
.assign-day-selected {
  box-shadow: inset 0 0 0 3px #1f3c88 !important;
  border-radius: 5px;
}

.react-calendar {
  color: black; /* texto general */
}

.react-calendar__tile {
  color: black !important; /* números */
}

.react-calendar__month-view__days__day {
  color: black !important;
}

/* HEADER (MES Y AÑO) */
.react-calendar__navigation {
  color: black !important;
}

/* BOTONES (← →) */
.react-calendar__navigation button {
  color: black !important;
  background: transparent;
}

/* TEXTO DEL MES Y AÑO */
.react-calendar__navigation__label {
  color: black !important;
  font-weight: bold;
}

/* HOVER (cuando pasas el mouse) */
.react-calendar__navigation button:hover {
  background-color: #e0e0e0;
}

